#
export AWS_PROFILE=sandbox-ishizawa
dotenv
# Load secrets from sops
while IFS= read -r line; do
	# Skip empty lines and comments
    [[ -z "$line" || "$line" =~ ^# ]] && continue
    export "$line"
done < <(sops -d .secrets.env)

PATH_add node_modules/.bin src/scripts

if [[ `git rev-parse --abbrev-ref HEAD` =~ ^(prod|demo|stg|test|dev)/(v.*)$ ]]; then
	export STAGE=${BASH_REMATCH[1]}
	export VERSION=${BASH_REMATCH[2]}
else
	export STAGE=preview
	export VERSION=v0
fi

echo -e "\n# Variables\nPRODUCT_ID: ${PRODUCT_ID}\nSTAGE: ${STAGE}\nVERSION: ${VERSION}\nAWS_PROFILE: ${AWS_PROFILE}\n"
